{% extends 'base.html.twig' %}



{% block title %}Swift Movies{% endblock %}




{% block content %}

  {% for flashSuccess in app.flashes('verify_email_success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}


{# <pre>
    {{ dump("now"|date("d/m/Y")) }}
</pre>     #}





 <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">
            <div class="item home__cover" data-bg="{{asset('img/home/home__bg.jpg')}}"></div>
            <div class="item home__cover" data-bg="{{asset('img/home/home__bg2.jpg')}}"></div>
            <div class="item home__cover" data-bg="{{asset('img/home/home__bg3.jpg')}}"></div>
            <div class="item home__cover" data-bg="{{asset('img/home/home__bg4.jpg')}}"></div>
            <div class="item home__cover" data-bg="{{asset('img/home/home__bg5.jpg')}}"></div>
        </div>
        <!-- end home bg -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

                    <button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
                    <button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
                </div>

                <div class="col-12">
                    <div class="owl-carousel home__carousel home__carousel--bg">
                        {% for nv in newVideos %}
                        
                        <div class="card card--big">
                            <div class="card__cover">
                                <img src="{{asset('img/covers/') ~ nv.image}}" alt="">
                                {# {% if condition %}{% endif %} #}

                               
                                
                                <a href="{{path('video_detail', {'video_id' : nv.id})}}" class="card__play">
									<i class="icon ion-ios-play"></i>
								</a>
                              
                                <span class="card__rate card__rate--yellow">{{nv.rating}}</span>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="{{path('video_detail', {'video_id' : nv.id})}}">{{nv.name}}</a></h3>
                                <span class="card__category">
                                {% for g in nv.genres %}
                                    
									<a href="#">{{g.name}}</a>
									

                                {% endfor %}
								</span>
                            </div>
                        </div>
                            
                        {% endfor %}
                        

                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

<!-- content -->
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Categories</h2>
                        <!-- end content title -->

                        <!-- content tabs nav -->
                        <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                 

                            {% for c in categories %}
                            <li class="nav-item">
                                <a  class="{{ c.name == 'Movies' ? 'nav-link active' : 'nav-link' }}" data-toggle="tab" href="#tab-{{c.id}}" role="tab" aria-controls="tab-{{c.id}}" aria-selected="false">
                                        {{c.name}}
                                </a>
                            </li>
           
                            {% endfor %}                        

                        
                        </ul>
                        <!-- end content tabs nav -->

                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Movies">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                        {% for c in categories %}
                                            
                                    <li class="nav-item"><a class=" {{c.name == 'Movies' ? 'nav-link active' : 'nav-link'}} " id="{{c.id}}-tab" data-toggle="tab" href="#tab-{{c.id}}" role="tab" aria-controls="tab-{{c.id}}" aria-selected="false">{{c.name}}</a></li>
                                        {% endfor %}

                                   </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- content tabs -->
            <div class="tab-content">
         

  {% for c in categories %}
      
                    
                <div class=" {{c.name == 'Movies' ? 'tab-pane fade show active' : 'tab-pane fade' }} " id="tab-{{c.id}}"  role="tabpanel" aria-labelledby="{{c.id}}-tab">
                    <div class="row row--grid">

                    {% for v in c.videos %}

                       <!-- card -->
                        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                            <div class="card">
                                <div class="card__cover">
                                    <img src="{{asset('img/covers/' ~ v.image)}}" alt="">
                                    <a href="{{path('video_detail', {'video_id' : v.id})}}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
                                    <span class="card__rate card__rate--yellow">{{v.rating}}</span>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="{{path('video_detail', {'video_id' : v.id})}}">{{v.name}}</a></h3>
                                    <span class="card__category">
                                    {% for g in v.genres %}
										<a href="#">{{g.name}}</a>
                                    {% endfor %}
									
									</span>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        
                    {% endfor %}

                    <pre>
                        {{ dump(app.session.get('rs')) }}
                    </pre>

                 
                    </div>
                </div>
  {% endfor %}

            </div>
            <!-- end content tabs -->
        </div>
    </section>
    <!-- end content -->

{% endblock %}

