{% extends "base.html.twig" %}

{% block content %}
 <section class="section section--first section--bg" data-bg="{{asset('img/section/section.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <!-- section title -->
                        <h1 class="section__title">{{category_name|upper}}</h1>
                        <!-- end section title -->

                        <!-- breadcrumb -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="{{path('home')}}">Home</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">Catalog</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->

    <!-- filter -->
    <div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-12">

                 
                 
                    <div class="filter__content">
                        <div class="filter__items">
                             <!-- filter item -->
                            <div class="filter__item" id="filter__quality">
                                <span class="filter__item-label">Title:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="{{sort_title_method}}">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown mCustomScrollbar _mCS_3" aria-labelledby="filter-quality" style="overflow: visible;"><div id="mCSB_3" class="mCustomScrollBox mCS-custom-bar mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_3_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                    
                                    <li><a  href="{{path('videos.by.category', {'title': 'ASC', 'page': page, 'category_id': category_id, 'category_name': category_name})}}" data-value="ASC">ASC</a></li>
                                    <li><a  href="{{path('videos.by.category', {'title': 'DESC', 'page': page, 'category_id': category_id, 'category_name': category_name})}}" data-value="DESC">DESC</a></li>

                                    

                                   
                                </div></div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-custom-bar mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 138px; max-height: 127.667px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div><div class="mCSB_draggerRail"></div></div></div></div></ul>
                            </div>
                            <!-- end filter item -->
                             <!-- filter item -->
                            <div class="filter__item" id="filter__quality">
                                <span class="filter__item-label">Rating:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="{{sort_rating_method}}">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown mCustomScrollbar _mCS_3" aria-labelledby="filter-quality" style="overflow: visible;"><div id="mCSB_3" class="mCustomScrollBox mCS-custom-bar mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_3_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                    
                                    <li><a  href="{{path('videos.by.category', {'rating': 'ASC', 'category_id': category_id, 'category_name': category_name})}}" data-value="ASC">ASC</a></li>
                                    <li><a  href="{{path('videos.by.category', {'rating': 'DESC', 'category_id': category_id, 'category_name': category_name})}}" data-value="DESC">DESC</a></li>

                                    

                                   
                                </div></div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-custom-bar mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 138px; max-height: 127.667px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div><div class="mCSB_draggerRail"></div></div></div></div></ul>
                            </div>
                            <!-- end filter item -->

                           

                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end filter -->

    <!-- catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row row--grid">
            {% for video in videosByCategoryLimited %}
                
                <!-- card -->
                <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="{{asset('img/covers/' ~ video.image)}}" alt="">
                            <a href="{{path('video_detail', {'video_id' : video.id})}}" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
                            <span class="card__rate card__rate--green">{{video.rating}}</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title"><a href="details.html">{{video.name}}</a></h3>
                           
                        </div>
                    </div>
                </div>
                <!-- end card -->
            {% endfor %}

               
            </div>

            <div class="row">
                <!-- paginator -->
                <div class="col-12">
                    <ul class="paginator">
                        <li class="{{ (page == 1) ? 'disabled paginator__item paginator__item--prev' : 'paginator__item paginator__item--prev' }}">
                            <a href=" {{(page > 1) ? '?page=' ~ (page - 1) : ''  }} "><i class="icon ion-ios-arrow-back"></i></a>
                        </li>

                        {% set pages = (total/limit)|round(0,'ceil')  %}

                        {% for item in 1..pages %}
                            
                        <li class=" {{(page==item) ? 'paginator__item paginator__item--active' : 'paginator__item'  }} "><a href="?page={{item}}">{{item}}</a></li>
                        {% endfor %}
                      

                        <li class="{{ (page == pages) ? 'disabled paginator__item paginator__item--next' : 'paginator__item paginator__item--next' }}paginator__item paginator__item--next">
                            <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}"><i class="icon ion-ios-arrow-forward"></i></a>
                        </li>

                    </ul>
                </div>
                <!-- end paginator -->

        
            </div>
        </div>
    </div>
    <!-- end catalog -->

  

  
{% endblock %}
