

<section id="pricing-plan" class="section section--border">
        <div class="container">
         

            <div class="row row--grid">

      
          
            {% for s in subscriptions %}

  
                  {# <pre>
                      {{ dump(premium_price_id) }}
                  </pre> #}

                  {% if s.plan == 'basic' %}
                  {% set priceId = basic_price_id %}
                  {% endif %}
                  {% if s.plan == 'premium' %}
                  {% set priceId = premium_price_id %}
                  {% endif %}
                  {% if s.plan == 'cinematic' %}
                  {% set priceId = cinematic_price_id %}
                  {% endif %}

                 
                  
                  
 

           
                <div class="col-12 col-md-6 col-lg-4 order-md-2 order-lg-1">
                    {# <form  method="POST" action=" {{path('checkout', {'user': app.user.id, 'plan': s.id})}}"> #}
                    <form  method="POST" action="{{app.user ? path('checkout', {'user': app.user.id, 'plan': s.id}) : path('app_login') }} ">
                    
                        <div class="price">
                            <div class="price__item">
                             <span>{{s.plan}} </span> &nbsp;
                             <span>{{s.plan == 'basic' ? '  Free  ' : '  CHF ' ~ s.price }}</span>
                            </div>
                            <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> {{s.validUntil}}</span></div>
                            <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> {{s.resolution}} Resolution</span></div>
                            <div class="price__item {{s.availability == 'limited' ? 'price__item--none' : ''}}"><span><i class="{{s.availability == 'limited' ? 'icon ion-ios-close' : 'icon ion-ios-checkmark'}}"></i> {{s.availability}} Availability</span></div>
                            <div class="price__item {{s.device == 'Any Device'  ? '' : 'price__item--none'}} "><span><i class="{{s.device == 'Any Device' ? 'icon ion-ios-checkmark' : 'icon ion-ios-close'}}"></i> {{s.device}}</span></div>
                            <div class="price__item {{s.support == 'limited support' ? 'price__item--none' : ''}} "><span><i class="{{s.support == 'limited support' ? 'icon ion-ios-close' : 'icon ion-ios-checkmark'}}"></i> {{s.support|capitalize}}</span></div>
                        
                           {% if app.user %}
                            <input type="hidden" name="priceId" value="{{priceId}}" />
                            <input type="hidden" name="token" value="{{ csrf_token('checkout') }}"/>
                            <button  class="prices__btn" type="submit">Choose Plan</button>
                           {% endif %}
                           
                           {% if not app.user %}
                           <a href="{{path('app_login')}}" class="price__btn">Choose Plan</a>
                           {% endif %}
                            </form> 
                        
                        </div>
                    </form>
                </div>
                <!-- end price -->
                
            {% endfor %}
             
            </div>
        </div>
    </section>