{% extends 'base.html.twig' %}


{% block content %}
 <section class="section section--details section--bg" data-bg="img/section/details.jpg">
        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="section__title section__title--mb">{{video.name}}</h1>
                </div>
                <!-- end title -->

                <!-- content -->
                <div class="col-12 col-xl-6">
                    <div class="card card--details">
                        <div class="row">
                    

                            <!-- card content -->
                            <div class="col-12 col-md-8 col-lg-9 col-xl-7">
                                <div class="card__content">
                                    <ul class="card__meta">
                                        <li><span>Director:</span>{{video.director}}</li>
                                        <li><span>Cast:</span>
                                        {% for cast in video.cast %}
                                            
                                         <a href="#">{{cast}}</a> 
                                        {% endfor %}
                                        </li>
                                        <li><span>Genre:</span>
                                        {% for genre in video.genres %}
                                            <a href="#">{{genre.name}}</a>
                                            
                                        {% endfor %}
                                        </li>
                                        <li><span>Release year:</span> {{video.releaseYear}}</li>
                                        <li><span>Running time:</span> {{video.duration}} min</li>
                                        <li><span>Country:</span> <a href="#">{{video.country}}</a></li>
                                    </ul>
                                
                                </div>
                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                </div>
                <!-- end content -->

        

                <!-- player -->
                <div class="col-12 col-xl-6">

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                {% set currentTime, exprDate = "now"|date("Y/d/m h:i:s"), app.user.subscription.validUntil|date("Y/d/m h:i:s")  %}
                     {% if  currentTime < exprDate   %}
                        <div class="plyr__video-embed" id="player" >                    
                            <iframe
                                src="{{video.path}}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
                                allowfullscreen
                                allowtransparency
                                allow="autoplay"
                            ></iframe>
                        
                        </div>
                    {% endif %}
                {% endif %}

                <a href="{{path('pricing')}}">
                    <video controls crossorigin playsinline poster="{{asset('img/covers/default-cover-register.jpg')}}" id="player">
                                    
                    </video>
                </a>
                
                

               
                
                </div>
                <!-- end player -->
            </div>
        </div>
        <!-- end details content -->
    </section>
    <!-- end details -->

    <!-- content -->
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content title -->
                        {# <h2 class="content__title">Discover</h2> #}
                        <!-- end content title -->

                        <!-- content tabs nav -->
                        <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                                {% if video.comments.count > 0 %}
                                 {{video.comments.count}} Comments
                                {% endif %} 
                                </a>
                            </li>

                        
                        </ul>
                        <!-- end content tabs nav -->

                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Comments">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

                                  
                                </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8">
                    <!-- content tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                            <div class="row">
                       {% for c in video.comments %}

                      
                                <!-- comments -->
                                <div class="col-12">
                                    <div class="comments">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="img/user.svg" alt="">
                                                    <span class="comments__name">{{c.user.firstName}} {{c.user.lastName}} </span>
                                                    <span class="comments__time">{{c.createdAt | date}}</span>
                                                </div>
                                                <p class="comments__text">{{c.content}}</p>

                                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                                                  <div class="comments__actions">
                                                    <div class="comments__rate">                                     
                                                    
                                                        <button  type="button"><a id="like__link"  href="{{path('add.like.comment', {"comment": c.id})}}"><i id="like__up_{{c.id}}" class="icon ion-md-thumbs-up {{c.getUsersLikeComments().count == 0 ? 'inActive' : ''}} "></i></a><span id="number__likes_{{c.id}}">{{c.getUsersLikeComments().count > 0 ? c.getUsersLikeComments().count : ' ' }}</span></button>

                                                        <button type="button"><a id="dislike__link" href="{{path('add.dislike.comment', {"comment": c.id})}}"><i id="dislike__down_{{c.id}}" class="icon ion-md-thumbs-down {{c.getUsersDislikeComments().count == 0 ? 'inActive' : 'active'}} "></i></a><span id="number__dislikes_{{c.id}}">{{c.getUsersDislikeComments().count > 0 ? c.getUsersDislikeComments().count : ''}}</span></button>
                                                    </div>

                                                   
                                                </div>
                                                {% endif %}
                                                
                                              
                                            </li>


                                        </ul>

                                      
                                    </div>
                                </div>
                                <!-- end comments -->
                           
                       {% endfor %}

                       <div class="col-12">
                                    <div class="comments">

                         <form action="{{path('add.comment', {'video' : video.id})}}" class="form">
                         {# <form action="#" class="form"> #}
                                <textarea id="text" name="comment"  class="form__textarea" placeholder="Add comment"></textarea>
                                <input type="hidden" name="token" value="{{ csrf_token('add-comment') }}"/>
                                <button type="submit" class="form__btn">Send</button>
                        </form>

                        
                            </div>
                        </div>

                  
                    </div>
                    <!-- end content tabs -->
                </div>

             
            </div>
        </div>
    </section>
    <!-- end content -->
{% endblock %}
